
/* ______     Colors:  ______________

 Maroon: #6d0000
 Blue: #2b64ad

 */




/* _______      All Pages       ___________________________*/
/* _______      Navigation Bar / Header      ______________*/

.header {
	border-bottom: solid 5px #777777;	
	padding-bottom: 0px;
}

.navbar {
    border-bottom: solid 3px #ffffff;
    margin-bottom: 0px;	
    background-color: #c2c2c2;
}

.navbar-brand {
	padding: 0px 25px;
	height: auto;
}

.navbar-right {
	margin: 15px 10px;
	font-size: 15px;

}

.nav-anc {
	color: #610000;
	border-left: solid 2px #666666;
	font-weight: bold;
	width: 120px;
	text-align: center;
	padding: 5px;
}

.navbar-default .navbar-nav>li>a {
	color: #6d0000;
}

/* ______     Footer CSS    ____________________________*/

.footer {
	text-align: center;
	background-color: #6d0000;
	padding: 10px;
	display: flex;
    align-items: center;
    border-top: solid 2px #ffffff;	
}

.outter-footer {
    border-top: solid 5px #535353;	
}

.footer-center-row {
	border-left: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
	margin: 15px;
}

.footer-textbox {
	margin-bottom: 20px;
	color: #ffffff;
}

.footer-text {
	margin: 0;
	padding: 0;
}

.footer-img {
	width: 90%;
}

.footer-img-holder {
	display: flex;
    align-items: center;
}

.center-footer-img {
	width: 40%;
}



/*_________    Home Page     __________________________________*/

.parent-holder1 {
	position: relative;
	height: 250px;
	width: 300px;
	background-color: ;
}
.parent-holder2 {
	position: relative;
	height: 300px;
	width: 300px;
	background-color: ;
}
.parent-holder3 {
	position: relative;
	height: 300px;
	width: 700px;
	background-color: ;
}
.image-holder {
	position: absolute;
	top: 50%;
	height: 100px;
	margin-top: -50px;
}

.image-holder.fadeOut {
	opacity:0;
}



/*_________    Home Page     __________________________________*/

.proj-sec {
	padding: 0 40px 40px 40px;
	border-top: solid 5px #000000;
}

.proj-sec-odd {
	background-color: ;
}

.proj-sec-even {
	background-color: #eeeeee;
}


.proj-title {
	color: #6d0000;
	text-align: center;
	text-decoration: underline;
	padding: 10px 0 20px 0;
}

.toTop {
	text-align: center;
	font-weight: bold;
	color: #2b64ad;
}












